#myCanvas{
    background-color: #000;
}

html, body{
    align-content: center;
    text-align: center;
    font-family: 'VT323', monospace;
}
.cheatsheet{
    width: 300px;
    text-align: center;
    margin: auto;
}
