#myCanvas{
    background-color: #000;
}

html, body{
    align-content: center;
    text-align: center;
}
br{
    height: 10px;
}
.cheatsheet{
    width: 300px;
    text-align: left;
}
.contentDiv{
    float: left;
}